<div ng-app="movieApp" ng-controller="movieCtrl">
  <h1>Movie App</h1>
  <h2>Favourite Movies</h2>
  <textarea rows="1" #idInput></textarea>
  <button (click)="getMovies(idInput)">Request</button>
  <p>{{name}}</p>
  <table>
    <tr><th>Remove Movie</th><th>ID</th><th>Title</th><th>Poster</th><th>Plot</th></tr>
    <tr *ngFor="let film of movies">
      <button (click)="deleteMovie(film.id)">Delete</button>
      <td>{{film.id}}</td>
      <td>{{film.title}}</td>
      <div [innerHTML]="film.poster"></div>
      <td>{{film.plot}}</td>
    </tr>
  </table>
</div>
